body,
html {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
header {
  margin: 0;
  width: auto;
  padding: 30px 0 200px 0;
  color: #fff;
  background-image: url("images/nature.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

nav {
  font-size: 13px;
}

nav li {
  margin: 0px 20px;
  display: inline-block;
}
nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header a,
main a,
footer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

header a p {
  margin: 0;
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 20px;
}

header a p:hover,
footer a {
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  color: #36b3a8;
}

.italic {
  margin-top: 100px;
  font-style: italic;
  font-size: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  word-spacing: 0.2em;
  margin: 0 40px 40px 40px;
  word-wrap: normal;
}

.container {
  max-width: 900px;
  margin: auto;
  justify-content: center;
}

.header-more,
.main-more {
  padding: 10px 20px;
  border: 0px solid #36b3a8;
  border-radius: 30px;
  background-color: #36b3a8;
}
.header-more:hover,
.main-more:hover {
  background-color: #f81534dd;
  border: 0px solid #f81534dd;
}

main img {
  width: 400px;
  height: 300px;
}

.zero,
.first,
.second {
  text-align: center;
}

.zero div {
  max-width: 600px;
  margin: auto;
  color: #000000ad;
  line-height: 1.7em;
}

.zero h1 {
  color: #1a1a1ae6;
  font-weight: 400;
}

.space {
  clear: both;
  height: 80px;
}
.first-div div,
.second-div div {
  padding: 50px 30px;
  margin: auto;
  text-align: center;
}

.first-image {
  float: left;
  width: 50%;
}
.first-div {
  margin: 0;
  float: right;
  width: 50%;
  height: 300px;
}

.second-image {
  float: right;
  width: 50%;
}

.second-div {
  margin: 0;
  float: left;
  width: 50%;
  height: 300px;
}
.section-content {
  line-height: 2em;
  color: #000000ad;
}

.section-title {
  letter-spacing: 0.5em;
  color: #bdbdbd;
}

footer {
  background-color: #000;
  color: #36b3a8;
  font-size: 20px;
  font-weight: 700;
}
footer p {
  padding: 100px 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  nav ul {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 676px) {
  header {
    width: 100%;
  }
  nav ul {
    margin: 0;
    text-align: center;
  }
  nav li {
    display: inline-block;
    margin: 5px 0;
  }
}
